# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [169]:
import pandas as pd
import numpy as np
import itertools



### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).


### Step 3. Assign it to a variable called users.

In [170]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users=pd.read_csv(url,sep='|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [171]:
mean_age=users.groupby('occupation').mean()[['age']]
mean_age.head()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [172]:
male_ratio = users.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)
sums = male_ratio[['F', 'M']].sum(axis=1)
sums.head()
male_ratio['MaleRatio'] = round(100 * male_ratio['M'] / sums , 1)
male_ratio['MaleRatio'].sort_values(ascending=False)

occupation
doctor           100.0
engineer          97.0
technician        96.3
retired           92.9
programmer        90.9
executive         90.6
scientist         90.3
entertainment     88.9
lawyer            83.3
salesman          75.0
educator          72.6
student           69.4
other             65.7
marketing         61.5
writer            57.8
none              55.6
administrator     54.4
artist            53.6
librarian         43.1
healthcare        31.2
homemaker         14.3
Name: MaleRatio, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [173]:
occu=users.groupby('occupation').age.agg([np.min,np.max])
occu.head()

               amin  amax
occupation
administrator    21    70
artist           19    48
doctor           28    64
educator         23    63
engineer         22    70

### Step 7. For each combination of occupation and gender, calculate the mean age

In [174]:
#col1=list(itertools.combinations(users['occupation'],1))
#col1
#col2=list(itertools.combinations(users['gender'],1))
#col2
mean=users.groupby(['occupation','gender']).age.mean()
mean

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [175]:
percentage = users.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)
#percentage
sums = percentage[['F', 'M']].sum(axis=1)
sums.head()
percentage['Percentage'] = round(200 * percentage['M'] / sums , 2)
percentage.head()

gender          F   M  Percentage
occupation
administrator  36  43      108.86
artist         13  15      107.14
doctor          0   7      200.00
educator       26  69      145.26
engineer        2  65      194.03